@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.descuento{
    position: relative;
    background: #1CD1B0;
    padding-left: 18px;
    font-weight: bold;
    font-size: 23px;
    width: 1920px;
    height: 61;
}

header{
    position: sticky;
    top: 0;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 80px;
}
h1{
    color: white;
    
    padding: 20px;
}


i{
    position: relative;
    color: red;
}

.cards-content{
    position: relative;   
    background-color: rosybrown;
    margin-top: 40px;
    padding: 0 50px 0 50px;
    border: 5px solid black;
}

.card{
    position: relative;
    margin: 50px;
    background-color: yellow;
    justify-content: center;
    
    margin: 0 500px 0 500px;
    max-width: 400px;
    
}
.image-fondo{
   
    background-image: url('../img/bg-batman.jpg');
    background-size: cover;
    
    height: 250px;
   

}
.cards-info{
   position: relative; 
   padding: 50px 10px 20px 10px;
    
    background-color: blueviolet;
    
    
        

}
.cards-info img {
    position: absolute;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 70px;
    top: -70px;
}


