body{
    font-family: sans-serif;
}
header{
    background-color: #ddd;
    text-align: center;
}

main{
    max-width: 80%;
    margin: 0 auto;
    line-height: 2;
}
h1, h2{
    background-color: #198156;
    text-transform: uppercase;
    color: #dadd22 ;
}

h1{
    color: #e1e7ec;
    background-color: #136b6b;
}

span{
    font-weight: bold;
    text-transform: uppercase;
}

footer{
    background-color: #136b6b;
    color: white;
    text-align: center;
}
